#############################################################
#                   Config Ignore File                      #
#############################################################

# Folders
build/
node_modules/
.cache/

# Files
yarn.lock
.DS_store